{% extends "mercury2/dashboard.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_content %}

<h1>Step 2: Select Times</h1>
<p>Now select the times of the reservation </p>

<h2>Reservation for: {{ user }}</h2>

<form action="." method="POST">
	{% csrf_token %}
	<table>
    <div class="fieldWrapper">
        {{ form3.start_date.errors }}
        <br>
        <label for="id_sender">Reservation Start Date:</label>
        {{ form3.start_date }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form3.start_time.errors }}
        <br>
        <label for="id_cc_myself">Reservation Start Time</label>
        {{ form3.start_time }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form3.end_date.errors }}
        <br>
        <label for="id_cc_myself">Reservation End Date</label>
        {{ form3.end_date }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form3.end_time.errors }}
        <br>
        <label for="id_cc_myself">Reservation End Time</label>
        {{ form3.end_time }}
    </div>
    <br>
</table>
    <p><input type="submit" value="Continue" /></p>
</form>

{% endblock %}