{% extends "mercury2/baseline.html" %}

{% load staticfiles %}
{% load i18n %}


{% block page_content %}
<h1> Welcome to Mercury2! </h1>
<li><a href="{% url 'fetchTLE' %}">{% trans "Get fetchTLE data" %}</a></li>

<h2> Your past/current/future reservations </h2>

<table styke="width:75%">
  <tr>
        <td>Substation<td>
        <td>Pipeline<td>
        <td>Start Date<td>
        <td>Start Time<td>
        <td>End Date<td>
        <td>End Time<td>
  </tr>
  {% for reservation in reservations %}
    <tr>
        <td>reservation.substation<td>
        <td>reservation.pipeline<td>
        <td>reservation.start_date<td>
        <td>reservation.start_time<td>
        <td>reservation.end_date<td>
        <td>reservation.end_time<td>
    </tr>
  {% endfor %}
</table>
{% endblock %}





