{% extends "mercury2/dashboard.html" %}
{% from substations.models import substations}
{% load staticfiles %}
{% load i18n %}

{% block page_content %}


<h1>Add Ground Station Elements</h1>

<h2> Substation </h2>
<br>
<form action="." method="POST">
	{% csrf_token %}
	<table>
		{{ form1.as_table }}
	</table>
	<p><input type="submit" value="Add Substation"></p>
</form>
<br>

<h2> Pipeline </h2>
<br>
<form action="." method="POST">
	{% csrf_token %}
	<table>
		{{ form2.as_table }}
	</table>
	<p><input type="submit" value="Add Pipeline"></p>
</form>
<br>

<h2> Device </h2>
<br>
<form action="." method="POST">
	{% csrf_token %}
	<table>
		{{ form3.as_table }}
	</table>
	<p><input type="submit" value="Add Device"></p>
</form>


{% endblock %}