{% extends "mercury2/baseline.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_content %}

<b><a href="{% url 'gs_edit' %}">{% trans "Add Substation/Pipeline/Device" %}</a></b>

<h1> Select the substation you want details of </h1>
<form action="." method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<p><input type="submit" value="See Details"></p>
</form>

<ul> 
	<li> {{ current.title }} </li>
	<li> {{ current.slug }} </li>
	<li> Longitude: {{ current.longitude }}, Latitude: {{ current.latitude }}</li>
	<li> Altitude: {{current.altitude}} </li>

	<br>
		
	
</ul> 

<!-- Google Maps --> 
	<style>
      #map-canvas {
        width: 500px;
        height: 400px;
      }
    </style>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng({{current.latitude}}, {{current.longitude}}),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	<div id="map-canvas"></div> 

<h3>Pipelines</h3>
<ul> 
{% for pipeline in pipelines %}
	<li> {{ pipeline.title }} </li>
	<li> {{ pipeline.pipeline_id }} </li>
	<li> Description: {{ pipeline.description }} </li>
	<br>
{% endfor %}
</ul>  

<h3>Devices</h3>
<ul> 
{% for device in Devices %}
	<li> {{ device.title }} </li>
	<li> {{ device.device_id }} </li>
	<li> Description: {{ device.description }} </li>
	<br>
{% endfor %}
</ul>  




{% endblock %}